body{
    background-color: yellow;
}



.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid green; */
}

.rowContainer{
    display: flex;
}

.divSquare{
    height: 35px;
    width: 35px;
    background-color: white;
    border: 1px solid black;
}

.btnContainer{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sizeButton{
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 20px;

}